# requirements.txt
# ============================================================
# Dependências de runtime (produção)
# ============================================================

Flask>=3.1.2
python-dotenv>=1.2.1
requests>=2.32.5
gunicorn>=23.0.0
rq>=1.13.0